.parent {
  width: 500px;
  border: 2px solid red;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.child {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.one {
  background-color: powderblue;
  position: absolute;
  top: 50px;
}
.two {
  background-color: royalblue;
}
.three {
  background-color: sienna;
}
.four {
  background-color: slateblue;
}
